header {
  justify-content: space-between;
}

form {
  margin-bottom: 9px;
  max-width: 100vw;
  padding: 6px 0;
}

.col-auto {
  margin: 0;
}

.btns-td input:first-child {
  margin-right: 6px;
}

table {
  border-radius: 3px;
  box-shadow: 0 0 3px 1px lightgray;
  margin: auto;
  max-width: 90vw;
}
