.page-header {
  @include flex(row, nowrap, space-around, center);
  @include sizer(80px, 100vw);
  background-color: white;

  div {
    flex-grow: 1;
    width: 100px;
    text-align: center;
  }

  .logo {
    position: relative;
    left: -20px;
    text-align: left;
    top: 0;
  }
  .trybe {
    width: 200px;
  }

  .wallet {
    font-size: 0.8em;
    left: 120px;
    color: $trybe-grey;
    margin: 0;
    position: relative;
    top: -10px;
    width: fit-content;
  }
}

