.login {
  @include flex(row, wrap, center, center);

  @include sizer(100%, 100%);
  background-color: $trybe-purple;
  background-image: url("../images/Wallpaper_03.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 500px;
}

.forms-div {
  @include flex(row, wrap, center, center);
  padding: 20px;
  margin: auto;
  
  h2 {
    color: $trybe-light-green;
    width: 100%;
  }

  a {
    @include flex(column, wrap, center, center);
    margin: 3%;
    text-decoration: none;

    .btn-success {
      color: white;
      font-weight: 600;

      &:disabled {
        cursor: not-allowed;
        font-weight: 600;
      }
    }
  }
}

.logo-div,
.forms-div {
  @include flex(column, wrap, center, center);
}

.form-label {
  color: $trybe-light-green;

}

.logo-div {
  background-color: white;
  border-right: 4px solid $trybe-light-green;
  
  @include sizer(100vh, 50vw);
  
  .trybe {
    width: 500px;
  }
  
  .wallet {
    color: $trybe-grey;
    left: 400px;
    margin: 0;
    position: absolute;
    top: 60vh;
    width: fit-content;
  }
}
