.login {
  @include flex(row, wrap, center, center);

  @include sizer(100%, 100%);
  background-color: $trybe-purple;
}

.forms-div {
  @include flex(row, wrap, center, center);
  margin: auto;

  h2 {
    border-bottom: 1px solid $trybe-light-green;
    color: $trybe-light-green;
    width: 100%;
  }

  a {
    @include flex(column, wrap, center, center);
    margin: 3%;
    text-decoration: none;

    .btn-success {
      color: white;
      font-weight: 600;

      &:disabled {
        cursor: not-allowed;
        font-weight: 600;
      }
    }
  }
}

.logo-div,
.forms-div {
  @include flex(column, wrap, center, center);
}

.form-label {
  color: $trybe-light-green;
}

.logo-div {
  background-color: white;
  border-right: 4px solid $trybe-light-green;
  color: $trybe-grey;

  @include sizer(100vh, 50vw);

  .trybe {
    width: 500px;
  }

  .wallet {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }

  h1 {
    left: 400px;
    margin: 0;
    position: absolute;
    top: 60vh;
    width: fit-content;
  }
}
