.form-container {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  margin: 15px;
  width: 40%;
}

.form-container h2 {
  font-size: 38px;
}

.add-expenses-form {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-size: 22px;
  padding-bottom: 25px;
  width: 100%;
}

.layer {
  margin: 20px 0;
}

.add-expenses-form input {
  border-left: white;
  border-right: white;
  border-top: white;
  font-size: 22px;
  margin: auto 10px;
  outline: none;
}

.add-expenses-form select {
  background: transparent;
  border-radius: 6px;
  font-size: 21px;
  outline: none;
}

.first-row input {
  width: 50%;
}

.second-row {
  width: 70%;
}

.second-row input {
  text-align: center;
  width: 25%;
}

.second-row select {
  margin: auto 10px;
}

.third-row {
  font-size: 20px;
}

.third-row label {
  margin: 0;
}

.third-row select {
  margin: auto 10px;
  width: 40%;
}

.fourth-row {
  width: 40%;
}

.fourth-row select {
  margin: 0 10px;
  width: 70%;
}

.add-expenses-form button {
  background-color: rgb(199, 25, 25);
  color: white;
  font-size: larger;
  margin: 20px 0;
}
