form {
  display: flex;
  border: 1px solid white;
  box-sizing: border-box;
  flex-direction: column;
  height: 440px;
  margin: auto;
  padding: 40px;
  width: 300px;
}

form input {
  margin-bottom: 10px;
}
