#login-page-container {
  text-align: center;
  margin: auto;
  padding: 40px;
  background-color: rgb(145, 145, 145);
  border: solid 1px black;
  width: 60%;
  display: flex;
  flex-direction: column;
}

#login-page-form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#login-page-email {
  margin: 5px;
  height: 25px;
}

#login-page-password {
  margin: 5px;
  height: 25px;
}

#login-page-button {
  margin-top: 20px;
  width: 120px;
  height: 40px;
}

#login-page-button:hover {
  color: white;
  background-color: black;
}

#header-container {
  text-align: center;
  font-family: monospace;
  font-size: 35px;
  padding: 20px;
  background-color: rgb(179, 179, 179);
}
