// @import './styles';
@import "./login";
@import "./variables/variables";

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, select {
  border: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid $trybe-purple;
  transition: 0.5s;
  @include sizer(40px, auto);
  background-color: transparent;
  
  &:focus {
    transition: 0.5s;
    outline: none;
    border: 2px solid $trybe-light-green;
  }
}

label {
  @include flexColumn();
  text-align: left;
  margin: 3%;
}