.wallet-header {
  align-items: center;
  background-color: #dedef7;
  display: flex;
  justify-content: space-around;
  margin: auto auto 15px;
}

.logo-container {
  display: flex;
}

.info-container {
  display: flex;
  justify-content: space-around;
}

.form-container {
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  margin: 15px;
  width: 40%;
}

.form-container h2 {
  font-size: 38px;
}

.add-expenses-form {
  font-size: 22px;
  padding-bottom: 25px;
  display: flex;
  flex-flow: column;
  width: 100%;
  border: 1px black solid;
  align-items: center;
}

.layer {
  margin: 23px auto;
  /* display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center; */
  justify-self: center;
}

.add-expenses-form input {
  margin: auto 10px;
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
  outline: none;
  font-size: 22px;
}

.add-expenses-form select {
  font-size: 21px;
  background: transparent;
  border-radius: 6px;
  outline: 0px;
}

.first-row input {
  width: 50%;
}

.second-row input {
  width: 25%;
  text-align: center;
}

.third-row {
  font-size: 20px;
  display: flex;
  flex-flow: row;
  margin: auto;
}

.third-row select {
  width: 45%;
}

.fourth-row select {
  width: 40%;
}

.add-expenses-form button {
  font-size: larger;
  background-color: rgb(199, 25, 25);
  color: #fff;
}
