.Wallet {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.header {
  align-items: center;
  background-color: rgba(255, 255, 255, 77%);
  display: flex;
  justify-content: space-between;
  padding: 1vmin;
}

.header__img {
  height: 4vmin;
  max-width: 20%;
  width: auto;
}

.currency__selector {
  display: flex;
  padding: 0 3px;
}

.user__info {
  align-items: center;
  display: flex;
  font-size: calc(8px + 1vmin);
  margin: 3px;
  max-width: 80%;
  padding-right: 3px;
  text-align: center;
}

.user__info p {
  padding: 5px;
}

.wallet__form {
  align-items: center;
  background-color: rgba(255, 255, 255, 33%);
  color: rgb(203, 203, 203);
  display: flex;
  font-size: calc(5px + 1vmin);
  margin: 3px;
  padding-right: 3px;
}

.wallet__form input ,
 .wallet__form select ,
 .wallet__form button {
  background-color: lightgray;
}
