body {
  overflow: hidden;
}

.login-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.login-page h1 {
  font-size: 50px;
}

.login-section {
  align-items: center;
  background-color: rgb(217, 237, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-around;
  margin: 50px auto;
  padding: 15px;
  width: 40%;
}

.login-section input {
  border: none;
  border-radius: 5px;
  font-size: 18px;
  height: 30px;
  text-align: center;
  width: 80%;
}

.login-section button {
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  height: 30px;
  text-align: center;
  width: 80%;
}
