.login-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-form {
  align-items: center;
  animation: blink-login ease-in-out 2s;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.login-form fieldset {
  align-items: center;
  animation: expand ease-in-out 2s;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px 6px silver;
  display: flex;
  flex-direction: column;
  height: 25vw;
  justify-content: space-evenly;
  width: 25vw;
}

.logo-login {
  filter: contrast(150%);
  max-width: 15vw;
}

.fields-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  width: 100%;
}

.fields-content label {
  display: flex;
  justify-content: center;
  width: 100%;
}

.fields-content input {
  border: 1px solid slategray;
  border-radius: 5px;
  outline: none;
  padding: 8px;
  width: 70%;
}

.fields-content input:focus {
  border: 1px solid cyan;
  box-shadow: 0 0 0 2px cyan;
}

.fields-content button {
  background-color: rgb(8, 170, 94);
  border: 1px solid slategray;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 8px;
  width: 75%;
}

.fields-content button:disabled {
  cursor: default;
  opacity: 0.5;
}

@keyframes blink-login {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes expand {

  0% {
    height: 15vw;
    width: 15vw;
  }

  100% {
    height: 25vw;
    width: 25vw;
  }
}
