.form {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.inputs {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.form-page {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
}

.send {
  margin: auto;
  padding: 10px;
  width: 25%;
}

.header-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.email-currency {
  display: flex;
  gap: 80px;
  padding: 10px 35px;
}

.currency-status {
  display: flex;
  gap: 10px;
}

.form-expenses {
  align-items: center;
  background-color: #95b19c;
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 15px;
}

.list-expense {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
}

.list-item-expense {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
  padding: 20px 1px;
}
