.wallet-page {
  display: grid;
  grid-template-areas: 'headWallet headWallet''newExp newExp' 'mainWallet mainWallet';
  grid-template-rows: 15vh  12vh 73vh;
}

button {
  box-shadow: 0 0 4px 2px rgb(7, 6, 6);
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

button:active {
  box-shadow: none;
}

.header-wallet {
  align-items: center;
  display: flex;
  grid-area: headWallet;
  justify-content: space-between;
}

.logo-wallet {
  max-height: 90%;
  max-width: 10vw;
}

.info-wallet {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.form-newExpense {
  align-items: center;
  background-color: black;
  border-bottom: 2px solid silver;
  border-top: 2px solid silver;
  color: white;
  display: flex;
  grid-area: newExp;
  justify-content: space-around;
}

.form-newExpense label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16%;
}

.form-newExpense input {
  border-radius: 5px;
  outline: none;
  padding: 5px;
  width: 100%;
}

.form-newExpense select {
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  padding: 5px;
  width: 100%;
}

.btn-addExpense {
  background-color: rgb(8, 170, 94);
  border: 1px solid slategray;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}

.form-editExpense {
  align-items: center;
  background-color: rgb(8, 170, 94);
  border-bottom: 2px solid silver;
  border-top: 2px solid silver;
  color: white;
  display: flex;
  grid-area: newExp;
  justify-content: space-around;
}

.form-editExpense label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16%;
}

.form-editExpense input {
  border-radius: 5px;
  outline: none;
  padding: 5px;
  width: 100%;
}

.form-editExpense select {
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  padding: 5px;
  width: 100%;
}

.btn-editExpense {
  background-color: rgb(255, 187, 0);
  border: 1px solid slategray;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}

.main-wallet {
  grid-area: mainWallet;
  overflow-y: auto;
}

.main-wallet::-webkit-scrollbar {
  width: 10px;
}

.main-wallet::-webkit-scrollbar-thumb {
  background-color: rgb(43, 46, 47);
  border: 1px solid slategray;
  border-radius: 10px;
}

.main-wallet::-webkit-scrollbar-track {
  background-color: rgb(221, 221, 221);
}

.expense-table {
  border-collapse: collapse;
  box-sizing: content-box;
  max-height: 100%;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.expense-table thead th {
  background-color: rgb(43, 46, 47);
  border-bottom: 2px solid silver;
  color: white;
  height: 30px;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.expense-table tbody td {
  border: none;
  color: black;
  height: 50px;
  padding: 10px;
}

.expense-table tbody tr:nth-child( even ) {
  background-color: rgb(233, 233, 233);
}

.edit-expense {
  background-color: rgb(255, 187, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  margin-right: 5px;
  padding: 5px;
  width: 30px;
}

.edit-expense:disabled {
  box-shadow: 0 0 4px 2px rgb(139, 139, 139);
  cursor: default;
  opacity: 0.9;
}

.delete-expense {
  background-color: rgb(219, 27, 27);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  margin-left: 5px;
  padding: 5px;
  width: 30px;
}
