.expenses-table {
  border-collapse: collapse;
  font-size: 16px;
  margin: 0px auto;
  width: 100%;
}

.expenses-table thead tr {
  background-color: #bbb8ba;
  color: #001e1d;
  text-align: center;
}

.expenses-table thead th {
  color: #001e1d
}

.expenses-table th,
.expenses-table td {
  color: #e8e4e6;
  padding: 6px 16px;
  text-align: center;
}

.expenses-table tbody tr {
  border-bottom: 1px solid #abd1c6;
}

.expenses-table tbody tr:nth-of-type(even) {
  background-color: #001e1d;
}
