.expenses-table {
  border-collapse: collapse;
  font-size: 16px;
  margin: 0 auto;
  width: 100%;
}

.expenses-table thead tr {
  background-color: #bbb8ba;
  color: #001e1d;
  text-align: center;
}

.expenses-table th , .expenses-table td {
  color: #e8e4e6;
  padding: 4px 16px;
  text-align: center;
}

.expenses-table thead th {
  color: #001e1d;
}

.expenses-table tbody tr {
  border-bottom: 1px solid #abd1c6;
}

.expenses-table tbody tr:nth-of-type( even ) {
  background-color: #001e1d;
}

.expenses-table tbody tr td button {
  background-color: #e16162;
  border: 1px solid #e16162;
  border-radius: 4px;
  color: #fffffe;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0;
  padding: 4px;
  transition: background-color 0.2s;
}

.expenses-table tbody tr td button:hover {
  background-color: #e44c4c;
}

.expenses-table tbody tr td button:active {
  transform: scale(0.98);
}

.expenses-table tbody tr td button svg {
  font-size: 18px;
}

