body {
  background-color: blue;
  display: flex;
  justify-content: center;
}

.login-form {
  align-items: center;
  background-color: rgb(93, 133, 133);
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 80px;
  padding-bottom: 20px;
  width: 500px;
}

.login-label {
  padding: 10px;
  text-align: center;
}

.login-input {
  display: block;
  margin-top: 10px;
}

.login-button {
  background-color: rgb(4, 29, 29);
  height: 30px;
  justify-self: center;
  margin-top: 10px;
  width: 100px;
}
