body {
  background-color: rgb(173, 207, 173);
}

button {
  background-color: blue;
  border-radius: 5px;
  color: white;
}

form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

form input , form select {
  display: block;
}

form button {
  height: 40px;
}

.edit-btn {
  background-color: rgb(6, 155, 6);
}

.delete-btn {
  background-color: red;
}

.table-categories {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

.table-row {
  align-items: center;
  background-color: yellowgreen;
  display: flex;
  justify-content: space-between;
}

span {
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  width: 115px;
}

header {
  background-color: darkslategray;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
  padding: 10px;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.total-value {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
  vertical-align: middle;
}
