form {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.table-row {
  display: flex;
  justify-content: space-between;
}

span {
  text-align: center;
  width: 100px;
}
