.login {
  display: flex;
  justify-content: center;
}

header img {
  height: 100px;
}

.login img {
  height: 100px;
}

.btn-div {
  text-align: center;
}

header {
  border-bottom: 1px solid black;
  box-shadow: gray 2px 2px;
  display: flex;
  justify-content: space-between;
}
