body {
  background-color: rgb(26, 35, 44);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: rgb(199, 197, 196);
  border: 3px solid green;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  top: 100px;
  width: 50%;
}

[data-testid="email-input"] {
  display: flex;
  height: 30px;
  margin: auto;
  width: 80%;
}

[data-testid="password-input"] {
  display: flex;
  height: 30px;
  margin: auto;
  width: 80%;
}

[data-testid="button-enter"] {
  display: flex;
  height: 30px;
  margin: auto;
  text-align: center;
  width: 30%;
}
